In [4]:
# Load packages
import numpy as np
import pandas as pd
from sklearn import svm
from sklearn.model_selection import train_test_split

In [6]:
# Make classifier
data = pd.read_csv("adult.csv")

In [7]:
data.head(2)

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K